@media only screen and (max-width: 1200px) {
    .container {
        width: 110rem;
    }

    .left__text {
        font-size: 1.6rem;
    }

    .center__nav__menu {
        width: 50rem;
    }

    .center__nav__link {
        font-size: 1.4rem;
    }

}

@media only screen and (max-width: 992px) {
    .container {
        width: 96rem;
    }

    .center__nav__menu {
        width: 40rem;
        gap: 2.2rem;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        width: 72rem;
    }

    .left__text {
        font-size: 1.4rem;
    }

    .center__nav__menu {
        width: 35rem;
        gap: 1.8rem;
    }

    .center__nav__link {
        font-size: 1.2rem;
    }
 
}

@media only screen and (max-width: 576px) {
    .container {
        width: 52rem;
    }

    .nav__menu,
    .nav__wrapper__right {
        display: none;
    }

    .nav__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    



}

@media only screen and (max-width: 480px) {
    .container {
        width: 45rem;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 30rem;
    }
}

